<aside>
    <div class="nav-side-menu aside-content">
        <div>
            <div class="brand aside-header">
                Menu
            </div>

            <button class="btn btn-default toggle-btn" data-toggle="collapse" data-target="#menu-content">
                <i class="fa fa-bars fa-2x"></i>
            </button>
        </div>

        <div class="menu-list">
            <ul id="menu-content" class="menu-content out">
                <li>
                    <a routerLink="/text-note" routerLinkActive="active">
                    <i class="fa fa-comment" aria-hidden="true"></i>Text</a>
                </li>

                <li>
                    <a routerLink="/article-note" routerLinkActive="active">
                    <i class="fa fa-comment" aria-hidden="true"></i>Article</a>
                </li>

                <li>
                    <a routerLink="/document-note" routerLinkActive="active">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>Document</a>
                </li>

                <li>
                    <a routerLink="/picture-note" routerLinkActive="active">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>Picture</a>
                </li>
            </ul>
        </div>
    </div>
</aside>